
<%= render_document_heading(document, :tag => :h2) %>

<div class="col-xs-12 col-md-4 col-md-push-8">
  <div class="row">
    <% if document['isbn_ss'] %>
      <%= image_tag( "/bookcover/isbn/#{document['isbn_ss'][0]}/size/medium", class: 'img-thumbnail pull-sm-right', alt: document['title_txt']) %>
    <% end %>
  </div>
</div>
